.wrapper {
    padding: 30px;
    & h1 {
        margin-bottom: 24px;
    }
}

.time {
    width: 20%;
}
.recipe {
    width: 30%;
}

.usage {
    width: 50%;
}

table,
td,
th {
    border: 1px solid #ccc;
    padding: 8px;
}
