.wrapper {
}

.header-wrap {
    background-color: rgb(255, 223, 181);
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 48px;
    max-width: 600px;
    margin: 0 auto;
    position: relative;

    & h1 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 24px;
        text-align: center;
    }

    & p {
        text-align: center;
    }
}

.body {
    margin-top: 64px;
    background-color: var(--white);
}

.badge {
    position: absolute;
    z-index: 0;
}

.badge-1 {
    top: 10%;
    left: 0%;
}

.badge-2 {
    top: 30%;
    right: 10%;
}

.badge-3 {
    bottom: 10%;
    left: 50%;
}

.grammar {
    margin: 24px 0;
}
